/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
 .contact-img img {
  width: 235px;
} 
    
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 .logo {
  text-align: center;
}
    .mainmenu {
  margin-right: -26px;
}
    .mainmenu {
  margin-right: -26px;
  padding: 20px;
  text-align: center;
}
    
    .header-text h2 {
  font-size: 60px;
}
    .header-text {
  padding: 150px 0 100px;
}
    .author-food-img {
  text-align: center;
  margin-top: :30px;
}
    .contact-img{
        margin-bottom: 30px;
        text-align: center;
    }
    
    .footer-area {
  font-size: 14px;
}
    .is-sticky .social-links {
  top: -11px;
}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    .mainmenu {
  padding-right: 0;
}
    .navbar-toggle {
  float: none;
  margin: 0;
  border: 1px solid #fff;
}
    .navbar-toggle .icon-bar {
  background: none repeat scroll 0 0 #fff;
}
     .mainmenu {
  text-align: center;
    padding: 20px;
}
   
    .mobile-menu-activated ul.nav.navbar-nav li {
  display: block;
}
    .mobile-menu-activated ul.nav.navbar-nav {
  background: #000;
    text-align: center;
}
    .mobile-menu-activated ul.nav.navbar-nav li a {
    border-bottom: 1px solid #333;
    padding: 15px;
}
.mobile-menu-activated .navbar-collapse {
    box-shadow: 0 0 0;
}
    .navbar-header {
    position: absolute;
    right: 0;
    top: -48px;
}
    
    .is-sticky .social-links {
  top: -3px;
}
    .is-isticky .logo img{
        height: 85px;
    }
    
   .mobile-menu-activated .is-sticky .mainmenu ul.nav.navbar-nav li a {
    padding: 15px;
}
    .header-text h2 {
  font-size: 35px;
}
    .section-padding {
  padding: 60px 0;
}
    .testimonial-list {
  font-size: 15px;
}
    .contact-img img {
  margin-bottom: 30px;
  width: auto;
}
    .footer-wedget {
  margin-bottom: 45px;
}
    
    
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}